
.card1 {
  overflow: visible;
  width: 190px;
  height: 254px;
}

.content1 {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front1, .back1 {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back1 {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back1::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #dbeafe, #dbeafe, #dbeafe, #dbeafe, transparent);
  animation: rotation_481 3000ms infinite linear;
}

.back-content1 {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #0c4a6e;
  border-radius: 5px;
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


.card1:hover .content1 {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front1 {
  transform: rotateY(180deg);
  color: white;
}

.front1 .front-content1 {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content1 .badge1 {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description1 {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title1 {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title1 p {
  width: 50%;
}

.card-footer1 {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front1 .img1 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle1 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
  filter: blur(15px);
  animation: floating1 2600ms infinite linear;
}

#bottom1 {
  background-color: #ffffff;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right1 {
  background-color: #ffffff;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating1 {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}



/* Card 2 */

.card2 {
  overflow: visible;
  width: 190px;
  height: 254px;
}

.content2 {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front2, .back2 {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back2 {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back2::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #2563eb, #2563eb, #2563eb, #2563eb, transparent);
  animation: rotation_482 3000ms infinite linear;
}


.back-content2 {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #e5e7eb;
  border-radius: 5px;
  color:#0c4a6e ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card2:hover .content2 {
  transform: rotateY(180deg);
}

@keyframes rotation_482 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front2 {
  transform: rotateY(180deg);
  color: white;
}

.front2 .front-content2 {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content2 .badge2 {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description2 {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title2 {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title2 p {
  width: 50%;
}

.card-footer2 {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front2 .img2 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle2 {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #2563eb;
  position: relative;
  filter: blur(15px);
  animation: floating2 2600ms infinite linear;
}

#bottom2 {
  background-color: #2563eb;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right2 {
  background-color: #2563eb;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating2 {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}
